body {
    background-color: rgb(226, 134, 153);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1, h3 {
    color: rgb(158, 36, 61);
}
.content{    
    text-align: center;
}

.splash_image {
    height: 400px;
    width: 400px;
}

span:hover {
    color: rgb(158, 36, 61);
}

.heading {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px; 
    color: black;  
}

.right {
    text-align: right;
    padding-right: 2%;
}

.home-paragraph {
    padding-left: 15%;
    padding-right: 15%;
    cursor: pointer;
}

div.gallery {
    margin-left: 2%;
    margin-bottom: 2%;
    border: 1px solid rgb(179, 26, 54);
    border-radius: 10px;
    float: left;
}

div.row-gallery {
    margin: auto;
}

div.gallery:hover {
    background-color: rgb(179, 26, 54);
    color: white;
    border-radius: 10px;
}

div.gallery img {
    border-radius: 10px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.active {
    background-color:rgb(179, 26, 54);
    border-radius: 20px;
    color: white;
}

.profile-image {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.profile-text {
    text-align: center;
    padding: 2%;
}

form {
    color: white;
    padding: 2%;
    border-radius: 10px;
    text-align: center;
}

form select {
    border-radius: 10px;
    padding: 0.5%;
}

button#order {
    border-radius: 10px;
    padding: 1%;
    background-color: transparent;
    border: white solid 1px;
    color: white;
}

button#order:hover {
    background-color: rgb(158, 36, 61);
    border: rgb(158, 36, 61) solid 1px;
}

footer {
    color: white;
    margin-top: 10%;
    padding-top: 2%;
    height: 10dvh;
    border-radius: 10px;
}